{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static "messages/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "messages/css/styles.css" %}" />
  <script src="https://unpkg.com/htmx.org@1.8.4"
            integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV"
            crossorigin="anonymous"></script>
  {% block head %}
  {% endblock %}
</head>
<body>
<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<header class="header">
  <div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
      <div id="main-nav" class="collapse navbar-collapse left">
        <ul class="nav navbar-nav" id="mainNav">
            {% block header %}
            {% endblock %}
        </ul>
      </div>
    </nav>
  </div>
</header>
{% block content %}
{% endblock %}
</body>
{% block scripts %}
{% endblock %}
</html>