{% extends "messages/base.html" %}
{% load static %}
<!doctype html>
<html lang="en-gb" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  {% block head %}
    <title>Чаты</title>
  {% endblock %}
</head>

<body>

{% block header %}
  <li class="active" id="firstLink"><a href="#" class="scroll-link">Чаты</a></li>
  <li><a href="{% url "messages:add_chat_page" %}" class="scroll-link">Начать чат</a></li>
  <li><a href="{% url "users:profile" %}" class="scroll-link">Профиль</a></li>
    <li><a href="#" class="scroll-link"></a></li>
  <li><a href="#" class="scroll-link" style="font-weight: bold !important;">{{ request.user.username }}</a></li>
  <li><a href="{% url "users:logout" %}" class="scroll-link">Выйти</a></li>
{% endblock %}

{% block content %}
  <section id="home">
    <div class="banner-container">
      <div class="container banner-content">
        <div class="hero-text animated fadeInDownBig">
          {% for chat in user_chats %}
              <div class="infBlock">
                <p class="infText">{{ chat.interlocutor }} | Сообщений: <span id="{{ chat.interlocutor }}">{{ chat.unread_messages }}</span></p>
                <a id="{{ chat.interlocutor }}-btn" href="{% url "messages:chat_room" chat.interlocutor %}" class="btn-chat">Написать</a>
              </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

</body>

{% block scripts %}
  <script type="text/javascript">
    var currentUser = "{{ request.user.username }}"
  </script>
  <script src="{% static "messages/js/chats.js" %}"></script>
{% endblock %}

</html>
