{% extends "messages/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}

    <title>Чат: {{ interlocutor }}</title>
    {% endblock %}
</head>

<body>

{% block header %}
  <li class="active" id="firstLink"><a href="{% url "messages:chats" %}" class="scroll-link">Чаты</a></li>
  <li><a href="{% url "messages:add_chat_page" %}" class="scroll-link">Начать чат</a></li>
  <li><a href="{% url "users:profile" %}" class="scroll-link">Профиль</a></li>
    <li><a href="#" class="scroll-link"></a></li>
  <li><a href="#" class="scroll-link" style="font-weight: bold !important;">{{ request.user.username }}</a></li>
  <li><a href="{% url "users:logout" %}" class="scroll-link">Выйти</a></li>
{% endblock %}

{% block content %}
    <section id="home">
      <div class="banner-container">
        <div class="container banner-content">
          <div class="hero-text animated fadeInDownBig" id="messages">
            {% for message in messages %}
                {% if message.user_sender == request.user %}
                  <div class="msg-block">
                    <p class="msg msgTextSender">{{ message.text }}<br><span class="msgTime">{{ message.created_at | format_date }}</span></p>
                  </div>
                {% else %}
                  <div class="msg-block">
                    <p class="msg msgTextReceiver">{{ message.text }}<br><span class="msgTime">{{ message.created_at | format_date }}</span></p>
                  </div>
                {% endif %}
            {% endfor %}
            </div>
            <div class="msg-block">
                <p class="msg paddingButton"><br><span class="msgTime"></span></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="sendMsgBlock">
      <input id="inputTxt" type="text" class="form-control txtMessage" placeholder="Сообщение">
      <button class="btn-chat btnMessage" id="chat-message-submit">Отправить</button>
    </div>
{% endblock %}
</body>
{% block scripts %}
  <script type="text/javascript">
      var currentUser = "{{ request.user.username }}"
      var interlocutor = "{{ interlocutor }}"
    </script>
  <script src="{% static "messages/js/room.js" %}"></script>
{% endblock %}
</html>
