{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/icons8-d-50.png' %}">

</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Выход</title>
    <link rel="stylesheet" href="{% static "users/css/logged_out.css" %}">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form method="get">
      <h3>Вы вышли</h3>
      <h3 class="second"><a href="{% url "users:login" %}">Войти</a></h3>

    </form>

</body>
</html>

</body>
