{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="{% static "users/img/icons8-d-50.png" %}">

</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Вход</title>
    <link rel="stylesheet" href="{% static "users/css/login.css" %}">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post">
        <h3>Вход</h3>
        {% csrf_token %}
        {{ form.username }}
        {{ form.password }}

        <button type="submit">Войти</button>
        <a href="{% url "users:register" %}"><button type="button">Регистрация</button></a>
      {% if form.errors %}
          <style media="screen">
              form{
                  height: 520px;
              }
          </style>
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              <p>{{ error }}</p>
            {% endfor %}
          {% endfor %}
        {% endif %}
    </form>

</body>
</html>

</body>
